
<% if logged_in? %>

<div class="top_main">  
    <div class="main_visual">
    </div>  
    
    <div class="user_post">
        <%= render "posts/posts", posts:@posts %>
    </div>
    
</div>


<% else %>

<div class="top_main">  
    <div class="main_visual">
    </div>   
    
    <div class="user_post">
        <%= render "posts/posts", posts:@posts %>
    </div>

    <%#= link_to 'かんたんログイン', guest_path, method: :post, class:"btn btn-lg btn-success center-block" %>
</div>



<% end %>

