<%# if reels.present? %>
        <% reels.each do |reel| %>
                <div class="col-md-4">
                        <iframe width="400" height="225" src="https://www.youtube.com/embed/<%= reel.youtube_url[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
        <% end %>
        
<%# end %>

<div class="posts_paginate">  
      <%= paginate reels %>
  </div>    