
<div class="reel_show_all">
  <div class="reel_show">
  <iframe width="960" height="540" src="https://www.youtube.com/embed/<%= @reel.youtube_url[32..42]%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>