<div class="media_all">
  <ul class="list-unstyled">
    <% posts.each do |post| %>
          
      <div class="media">
        <div class="media-body">
          
            
    
        </div>
      </div>
      
    <% end %>
    
  </ul>

  </div>    
   
</div>