// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// パーシャル


.media_all{
    width: 100vw;
    margin: 0px auto;
    padding: 0 auto;
    background-color:#f4f7f6;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    
}

.container{
    max-width: 100vw;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    

}

.post_col{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.media{
    max-width: 400px;
    width: 400px;
    height: auto;
    background-color:white;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    display: block;
    justify-content: center;
    text-align: center;
}

// .media_all .col-md-3 col-sm-2 col-xs-1{
//         width: 400px;
//         height: auto;
//         background-color:white;
//         margin-top: 100px;
//         margin-left: 30px;
//         margin-right: 30px;
//         margin-bottom: 100px;
//         display: block;
//         justify-content: center;
//         text-align: center;
// }


.media:first-child {
    margin-top: 100px;
}

.image{
    max-width: 100%;
    height: auto;
    width /***/: auto;
}

.media p{
    padding-top: 10px;
    padding-left: 10px;
    font-size : 13px;
    font-weight: 500;
    text-align: left;

}


.media-body{
    padding: 7px;
    margin: 0 20px 20px 0;
    
}

.posts_paginate{
    display: flex;
    justify-content: center;
    
}

.post_thumb{
    // border-radius: 50%;
    margin-right: 50px;
}

.post_index_user{
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    margin-left: 10px;
    margin-bottom: 5px;
}

.post_user_icon{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: 8px;
}

.read_more{
    // background-color: #339966;
    color: #fff;
    margin-top: 30px;
}

.read_more .btn{
    background-color: #49c5b6;
    color: #fff;
    // border: 1px solid #333;
}

.post_title{
    padding-left: 20px;
}

.post_title p{
    margin: 20px auto;
    width: 640px;
    // letter-spacing: 1px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    
    // padding: 20px;
}

// 新規投稿画面

.post_new{
    margin: 150px auto;
    text-align: center;
}

.post_new .btn{
    // width: 400px;
    margin: 40px 0;
}

.form-group{
    //  margin-left: 170px;
    
}

.post_new .text{
    padding: 35px;
}

.post_new .title{
    padding-left: 35px;
    margin: 20px 0;
}

// .title p{
//     font-size: 20px;
//     font-weight: 600;
//     border: none;
//     // background-color: #97999B;
//     margin-top: 60px;
//     margin-bottom: 70px;
// }


.image_post{
    margin: 0 auto;
    text-align: center;
}

.image_input_btn{
    font-family:  -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    background-color: #4b4b4b;
    width: 280px;
    height: 80px;
    border-radius: 5px;
    padding-top: 25px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
}

.image_form{
    display: none;
    cursor: pointer;
}



// 詳細ページ

.post_show{
    margin: 100px auto;
}

.post_box{
    width: 80%;
    height: 70%;
    background: #fff;
    // display: flex;
    // justify-content: center;
    margin: 0 auto;
    padding-right: 60px;
}

.post_box_left{
    // margin-right: 55px;
    // margin-left: 60px;
    width: 640px;
    margin: 0 auto;
}

.post_box_right{
    margin: 100px auto;
    width: 640px;
    
}

.post_image{
    text-align: center;
    margin-bottom: 70px;
}



.post_show_title p{
    margin: 20px auto;
    width: 640px;
    // letter-spacing: 1px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
}


.post_show_content{
    margin: 0px auto;
    // padding: 20px;
    font-size: 18px;
    letter-spacing: 1px;
    width: 640px;
    line-height: 2;
}

.post_user_name_icon{
    display: flex;
}


.user_icon2{
    border-radius: 50%;
    width: 33px;
    height: 33px;
}

.post_user_name{
    font-weight: 600;
    font-size: 20px;
    margin-left: 30px;
    padding-top: 4px;
}



.post_delete_edit{
    display: flexbox;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

}

.btn_delete{
    padding: 7px 35px;
    background: #333;
    color: white;
    border-radius: 5px;
    
}

.btn_edit{
    margin-right: 10px;
    padding: 7px 35px;
    background: #339966;
    color: white;
    border-radius: 5px;
}

.comments{
    width: 400px;
    height: 65%;
    padding: 15px 0;
    border-top: 1px solid #6c6c6c;
    // border-radius: 5px;
}

.comment_form{
    width: 100%;
    display: flex;
    margin: 10px 0 ;
    font-size: 15px;
}

.post_comment{
    width: 300px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.comment_form .btn{
    height: 30px;
    padding: 0px 25px;
    margin-left: 10px;
    border: none;
    background: #97999B;
    color: white;
}

.comments_list{
    padding: 1px 0;
}

.comment_user_name_icon{
    display: flex;
    margin-top: 10px;
}

.comment_user_name_icon .user_icon{
    margin-top: 9px;
}

.comment_name{
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    
}

.comment_list{
    font-size: 15px;
    // margin-bottom: 10px;
}

.comments_list .btn{
    font-size: 12px;
    background: red;
    color: white;
    padding: 0 30px;
}

.paginate{
    margin-top: 10px;
}

// 編集

.post_edit{
    margin-top: 100px;
    
}