// Place all the styles related to the reels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 新規投稿

.reel_form{
  margin: 200px auto;
  width: 70%
}

.reel_url{
  margin: 30px auto;
  width: 60%;
  text-align: center;
}

.reel_post{
  margin: 30px auto;
  width: 30%;
}


// _reel
.reel{
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.reel_content{
  display: flex;
}

.reel .col-md-3{
  display: flex;
  justify-content: center;
}

.reel_delete{
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn_delete:hover{
  background-color: #d45854;
  color: white;
  text-decoration: none;
}

.reel_show_list{
  width: 20px;
  height: 234px;
  position: relative;

}

.reel .btn_show{
  height: 234px;
  padding: 115.9px 10px;
  color: rgb(0, 0, 0);
  position: absolute;
  border: 1px solid #1d1d1d;
}

.btn_show:hover{
  background-color: #E39F27;
  color: white;
  text-decoration: none;
  border: none;
}

// 詳細

.reel_show_all{
  height: 100vh;
  text-align: center;
  background-color: black;
  position: relative;
}

.reel_show{
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
}