// show
.user{
    width: 100vw;
    height: 380px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.user_show{
    width: 50%;
    height: 75%;
    // background: #5ff;
    margin: 0px auto;
    padding-left: 40px;
    text-align: center;
    // padding-bottom: 20px;

}

.user_info{
    display: flex;
    justify-content: start;
    width: 90%;
    height: 40%;
    text-align: left;
    margin: 0 auto;
    padding-top: 130px;

}

.user_info .user_icon{
    border-radius: 50%;
    margin-right: 40px;
    margin-top: 10px;
    width: 110px;
    height: 110px;
}


.user_name_edit{
    display:flex;
}

.user_info h1{
    font-family:  -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    font-size: 35px;
    font-weight: bold;
}

.user_info p{
    margin-left: 5px;
    font-size: 15px;
}

.user_edit .btn{
    border: 1px solid #d4d9df;
    margin-left: 30px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;    
    font-weight: 600;
    font-size: 12px;
}

.btn_all{ 
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.post_btn{
    margin-right: 30px;
}

.post_btn .btn{
    width: 90%;
    height: auto;
    margin-right:40px;
    margin-bottom: 40px;
    background:  #4983c5;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 35px;
    letter-spacing: 1px;
    color: #fff;
    
}

.reel_btn .btn{
    width: 90%;
    height: auto;
    margin-right: 40px;
    margin-bottom: 40px;
    background:  #49c5b6;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 35px;
    letter-spacing: 1px;
    color: #fff;
    
}

.follow_btn .btn{
    width: 100%;
    height: auto;
    // margin-top: 50px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 25px 35px;
    letter-spacing: 1px;
}

.user_post{
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
}



.relationships_btn{
    color: white;
    margin-top: 30px;
    text-decoration: none;
    display: flex;
    justify-content: start;
    // background-color: #222;
}


.relationships_btn_all{
     text-align: center;
    //  margin-left: 30px;
    //  padding: 11px 24px;
     padding-top: 11px;
     padding-bottom: 11px;
     padding-right: 50px;
     padding-left: 5px;
     font-size: 16px;
     font-weight: 400;
}

.user_reel{
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.col-md-4{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 40px;
}


// 新規登録
.user_new{
    margin: 0px auto;
}


.user_new .row{
    margin: 0px auto;
}

// 編集ページ

.user_edit_page{
    align-items: center;
    // background: #F5DF4D;
    justify-items: center;
    margin: 50px auto;
}



.form_all{
    width: 60%;
    height: 100%;
    // background: #F9E547;
    margin: 0px auto;
    // padding-top: 100px;
    text-align: center;
    padding: 30px 50px;
    // padding-left: 75px;
    // border: 2px solid black;
  
}

.form_all h2{
    text-align: center;
    padding-right: 26px;
    margin: 40px auto;
    text-align: center;
    font-weight: 600;
    // font-style: italic;
    // border-bottom: 1px solid #97999B;
    
}

.form_block{
    padding-top: 40px;
    text-align: left;
}

.form{
    outline: none;
    width: 70%;
    height: 70%;
    border: none;
    border-bottom: 1px solid #000;
    // background-color: #F9E547;
    margin: 20px auto;
    font-size: 20px;
}

.form_all .btn{
    width: 150px;
    margin-top:30px;
    color: white;
    font-size: 20px;
    background: #61AFBD;
}



// ユーザ一覧

.user_index{
    margin: 120px auto;
}

// _users

.users_list{
    width: 100%;
    margin: 0 auto;
    height: auto;

}

.user_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 20px;
 

}

.user_list .user_list_icon .user_icon{
    border-radius: 50%;
}

.user_list_icon{
    margin: 0px 25px;
    text-align: center;
}

.user_list_text{
    margin: 20px 30px;
    text-align: center;
    font-size: 12px;
}

.user_list_text p{
    width: 100px;
}
